<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Loga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/posts/page/0">All posts</a>
            <a class="nav-item nav-link" href="/posts/user/page/0">My posts</a>
            <a class="nav-item nav-link" href="/logout">Log out</a>
        </div>
    </div>
</nav>
<div class="container">
    <h2 style="text-align: center">Blogger page</h2>

    <h4>Blog List</h4>
    <a href="/posts/add">Add new blogpost</a>
    <table class="table table-striped table-dark" style="table-layout: fixed; width: 100%;">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">ID</th>
            <th scope="col" style="width: 20%">Title</th>
            <th scope="col" style="width: 60%">Text</th>
            <th scope="col" style="width: 15%">Manage</th>
        </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr style="height: 20px; overflow: hidden">
                <th scope="row" style="width: 5%">{{p_id}}</th>
                <td style="width: 20%">{{title}}</td>
                <td style="white-space: nowrap; width: 60%; overflow: hidden">{{text}}</td>
                <td style="width: 15%"><a href="/posts/update/{{p_id}}">Update</a>  | <a href="/posts/delete/{{p_id}}">Delete</a> </td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    </table>

    <h4>Comment list</h4>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">ID</th>
            <th scope="col" style="width: 40%; overflow: hidden">Comment</th>
            <th scope="col" style="width: 15%">Posttitle</th>
            <th scope="col" style="width: 5%">User_id</th>
            <th scope="col" style="width: 15%">Email</th>
            <th scope="col" style="width: 10%">Date</th>
            <th scope="col" style="width: 10%">Manage</th>
        </tr>
        </thead>
        <tbody>
        {{#comments}}
            <tr>
                <th scope="row">{{b_id}}</th>
                <td>{{text}}</td>
                <td>{{post.title}}</td>
                <td>{{post.p_id}}</td>
                <td>{{user.email}}</td>
                <td><a href="/blogger/comment/delete/{{b_id}}">Delete</a> </td>
                <td>{{createdComment}}</td>
            </tr>
        {{/comments}}
        </tbody>
    </table>


</div>
</body>
</html>